/vendor/
**/bin/
**/venv/
**/obj/
**/node_modules/
**/.vs
**/.idea
**/.ionide
**/build
**/target

# Make build markers
.make/

# Test coverage
**/coverage.txt

# Python build artifacts
sdk/python/dist/
sdk/python/*.egg-info

sdk/java/build
sdk/java/src
sdk/java/.gradle
sdk/java/gradle
sdk/java/gradlew
sdk/java/gradlew.bat

.pulumi
Pulumi.*.yaml
yarn.lock
ci-scripts
/nuget/
**/version.txt
.mono
/go/
*.sln
.config/
.gradle/