/vendor/
**/bin/
**/venv/
**/obj/
**/node_modules/
**/.vs
**/.idea
**/.ionide
**/build
**/target

sdk/java/build
sdk/java/src
sdk/java/.gradle
sdk/java/gradle
sdk/java/gradlew
sdk/java/gradlew.bat

.pulumi
Pulumi.*.yaml
yarn.lock
ci-scripts
/nuget/
**/version.txt
.mono
/go/
*.sln
